@model IEnumerable<MvcItem.Models.Item>

@{
    ViewBag.Title = "Items";
}

<h2>Items</h2>

<p>
    @Html.ActionLink("Create New", "Create")

    @using (Html.BeginForm())
    {
    <p>
        ItemCategory: @Html.DropDownList("itemCate", "All")
        ItemName: @Html.TextBox("SearchString") 
        <br /><br />
        <input type="submit" value="Filter" />
    </p>
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ItemName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemCategory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemCount)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ItemName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ItemCategory)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ItemPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ItemCount)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ItemID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ItemID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ItemID })
        </td>
    </tr>
}

</table>
